.root__container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 0.5fr auto;
    position: relative;
}


/*
  ================
      Header
  ================
  */


/*Header*/

.main__header {
    width: 100%;
    display: grid;
    text-align: center;
    box-shadow: 0 0 2rem rgba(0, 0, 255, 0.1);
    height: 4rem;
    margin: 0;
    align-items: center;
    transition: background-color 500ms linear;
    animation: 1s ease-in-out 0ms 1 fadein;
}


/*
  ================-
      Footer
  ================
  */

.main__footer {
    background: transparent;
    text-align: center;
}

.copyright__text {
    letter-spacing: 0.1rem;
    color: black;
}

@media only screen and (max-width: 300px) {
    .slide-menu {
        width: 100%;
    }
}